{% extends 'base.html.twig' %}

{% block title 'Sign In | ' ~ parent() %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/login.css')}}"> 
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger d-flex justify-content-between">{{ error.messageKey|trans(error.messageData, 'security') }}<button type="button" class="btn-close btn-dark text-white" data-dismiss="alert" aria-label="Close">X</button></div>
		{% endif %}

		<div class="container">
	<div class="row pl-5 pr-5">
	<div class="col-12 col-sm-6 col-md-6">
	<img src="{{ asset('image/logo.png')}}" width="280px" class="mt-5">
    </div>
	
	<div class=" col-12 col-sm-6 col-md-6 mt-5">
	{% for message in app.flashes('success') %}
	<div class="alert alert-success my-2 d-flex justify-content-between">
		<strong>Success!</strong>
		{{ message }}
		<button type="button" class="btn-close btn-dark text-white" data-dismiss="alert" aria-label="Close">X</button>
	</div>
    {% endfor %}
		<h1 class="h3 mb-3 text-danger font-weight-bold text-center">Sign In</h1>
		<label for="inputEmail" class="mt-2">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Enter Email..." class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword" class="mt-3">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter Password..."  autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="d-flex justify-content-center">
			<button class="btn btn-sm btn-outline-danger mt-4" type="submit">
				Login
			</button>
		</div>
	</div>
</div>
		</div>

		{#
						        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						        See https://symfony.com/doc/current/security/remember_me.html
						
						        <div class="checkbox mb-3">
						            <label>
						                <input type="checkbox" name="_remember_me"> Remember me
						            </label>
						        </div>
						    #}
	</form>
{% endblock %}
