{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ path('app_home') }}">Task Note
			</a>
			<span class="text-light mt-1">
				{% if app.user %}
					{{ app.user.email }}
				{% endif %}
			</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_home') }}">Accueils
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>
	<div class="row my-5">
		<div class="col-md-8 mx-auto">
			<div class="card ">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				<div class="card-header">
					<h3 class="card-title text-center">{{ user.email }}</h3>
				</div>
				{% if user.image == null %}
					<img class="" src="{{ asset('user-group-6.png') }}" width="200px" alt="user-group-6">
					
				{% else %}
					<img class="" src="{{ asset('/uploads/'~app.user.image) }}" width="200px" alt="user-group-6">
					<img class="" src="{{ asset('loading(13).gif') }}" width="40px" alt="">
					<img class="" src="{{ asset('loading(16).gif') }}" width="40px" alt="">
				{% endif %}

				<div class="card-body"></div>
			</div>
			<form action="{{ path('app_uploadImage') }}" method="post" enctype="multipart/form-data">
				<input type="file" name="image" id="image" class="form-control">
				<button type="submit" class="btn btn-sm mt-2 btn-success">Ajouter</button>
			</form>
		</div>
	</div>
<h4 class="text-center">Mes Notes</h4>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Ajouter par</th>
				<th>Creation</th> 
				<th>Afficher</th>
				<th>Modifier</th>
				<th>Suprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for task in user.tasks %}
				<tr>
					<td scope="row">{{task.id}}</td>
					<td>{{ task.title }}</td>
					<td>{{ task.description }}</td>
					<td>{{ task.author.email }}</td>
					<td>{{task.CreatedAt | date("d/m/Y") }}
						à
						{{task.createdAt | date("H:i")}}</td>
					<td>
						<a href="{{ path('task_show',{id:task.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
					</td>

					<td>
						<a href="{{ path('task_edit',{id:task.id}) }}" class="btn btn-success btn-sm">Modifier</a>
					</td>

					<td>
						<a href="{{ path('task_delete',{id:task.id}) }}" class="btn btn-danger btn-sm">Suprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
