<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{asset('libs/bootstrap-4.3.1/css/bootstrap.css')}}"> {% block javascripts %}{% endblock %}
		</head>
		<body>
			{% block body %}{% endblock %}
			<script type="text/javascript " src="{{asset('libs/jquery/jquery-3.3.1.slim.min.js')}}"></script>
			<script type="text/javascript " src="{{asset('libs/jquery/popper.min.js')}}"></script>
			<script type="text/javascript " src="{{asset('libs/bootstrap-4.3.1/js/bootstrap.min.js ')}}"></script>
			<script src="{{asset('libs/jquery/jquery-3.2.1.js')}}"></script>
			<script src="{{asset('libs/jquery/main.js')}}"></script>
		</body>
	</html>
