{% extends 'base.html.twig' %}

{% block title 'Presence | ' ~ parent() %}

{% block body %}
	<div class="container">
		<div class="card mt-3 p-2">
			<div class="d-flex justify-content-between">
				<div class=" d-flex">
					<select class="custom-select custom-select-sm" id="selectMois">
						{% if mois  %}
							{% for mois in mois %}
								<option value={{ mois.mois }}>{{ mois.mois }}</option>
							{% endfor %}
						{% endif %}
					</select>
					<select class="custom-select custom-select-sm w-70 ml-2" id="selectDate">
						{% if date %}
							{% for date in date %}
								<option value={{ date.date }}>{{ date.date }}</option>
							{% endfor %}
						{% endif %}
					</select>
					<button class="btn btn-dark btn-sm ml-2" data-toggle="modal" data-target="#absent">Absent</button>
					<span class="btn btn-danger btn-sm button-absent ml-1">0</span>
				</div>
				<div class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#ajoutePresence">Add presence</div>
			</div>
			<div class="table-reponsive table-presence mt-3"></div>
		</div>
	</div>


	<div class="modal fade" id="ajoutePresence" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content border-0 rounded-0">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-danger" id="exampleModalScrollableTitle">Add PRESENCE</h5>
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="formAjoutePresence" enctype="multipart/form-data">
					<div class="modal-body">
						<select class="custom-select custom-select-md" name="nomEmploye" required>
							<option selected value="">Select Employee</option>
							{% if employe %}
								{% for employe in employe %}
									<option value={{ employe.id }}>{{employe.name}}
										{{employe.lastName}}</option>
								{% endfor %}
							{% endif %}
						</select>
						<div class="d-flex justify-content-center">
							<img src="{{asset('image/loading.gif')}}" id='loader' style='display: none;' width="40px" alt=""/>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button type="submit" class="btn btn-sm btn-outline-danger">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="absent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
			<div class="modal-content border-0 rounded-0">
				<div class="modal-header bg-dark d-flex justify-content-center">
					<h5 class="text-center text-danger" id="exampleModalScrollableTitle">LIST ABSENT</h5>
				</div>
				<div class="modal-body">
					<div class="table-responsive table-absent"></div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
$('#formAjoutePresence').on("submit", function (e) {
e.preventDefault();
$.ajax({
url: "/ajoutePresence",
method: 'POST',
data: new FormData(this),
contentType: false,
cache: false,
processData: false,
beforeSend: function () {
$("#loader").show();
},
success: function (data) {
Swal.fire({title: data.success, icon: 'success'});
affichePresence();
},
complete: function (data) {
$("#loader").hide();
location.reload();
}
});
});


$('#selectMois').on('change', function () {
affichePresence();
});
$('#selectDate').on('change', function () {
affichePresence();
});

});

affichePresence();

function affichePresence() {
var mois = $("#selectMois").val();
var date = $("#selectDate").val();
$.ajax({
url: "/affichePresence",
method: 'POST',
data: {
mois: mois,
date: date
},
success: function (data) {
var table = '<table class="table table-bordered">';
table += '<thead class="bg-dark text-white" align="center"> ';
table += '<th>Admin</th>';
table += '<th>Employee</th>';
table += '<th>Email</th>';
table += '<th>Phone Number</th>';
table += '<th>Status</th>';
table += '</thead>';
table += '<tbody>';
$.each(data, function (i, item) {
table += '<tr align="center">';
table += '<td>' + item.user.lastName + '</td>';
table += '<td>' + item.employe.name + " " + item.employe.lastName + '</td>';
table += '<td>' + item.employe.email + '</td>';
table += '<td>' + item.employe.phone + '</td>';
table += '<td><button class="btn btn-success border-0 rounded-0 btn-sm">' + item.status + '</button></td>';
table += '<tr>';
});
table += '<tbody>';
table += '</table>';
$('.table-presence').html(table);
afficheAbsent();
}
});
}


function afficheAbsent() {
var mois = $("#selectMois").val();
var date = $("#selectDate").val();
$.ajax({
url: "/afficheAbsent",
method: 'POST',
data: {
mois: mois,
date: date
},
success: function (data) {
$('.table-absent').html(data.table);
$('.button-absent').html(data.count);
}
});
}
	</script>
{% endblock %}
